html, body {
  height: 100%;
}

#banner {
  border-bottom: none;

  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}

.hero-unit {
  //position: relative;
  padding: 30px 15px;
  text-align: center;
}

.vertical-center {
  height: 100%;
  width: 100%;

  text-align: center; /* align the inline(-block) elements horizontally */
  font: 0/0 a; /* remove the gap between inline(-block) elements */
}

.vertical-center:before {
  /* create a full-height inline block pseudo=element */
  content: ' ';
  display: inline-block;
  vertical-align: middle; /* vertical alignment of the inline element */
  height: 100%;
}

.vertical-center > .container {
  max-width: 100%;
  display: inline-block;
  vertical-align: middle; /* vertical alignment of the inline element */
  font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif; /* <-- reset the font property */
}
